@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 100% 94%;
    --foreground: 215 20% 30%;
    --card: 0 0% 100%;
    --card-foreground: 215 20% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 20% 30%;
    --primary: 207 88% 77%;
    --primary-foreground: 215 28% 17%;
    --secondary: 207 100% 88%;
    --secondary-foreground: 215 28% 17%;
    --muted: 207 100% 88%;
    --muted-foreground: 215 15% 45%;
    --accent: 210 13% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 80% 85%;
    --input: 207 80% 90%;
    --ring: 207 88% 70%;
    --radius: 0.5rem;
    --chart-1: 207 80% 56%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215 20% 30%;
    --sidebar-accent: 207 100% 94%;
    --sidebar-accent-foreground: 215 20% 30%;
    --sidebar-border: 207 80% 85%;
    --sidebar-ring: 207 88% 70%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;
    --card: 215 28% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 88% 77%;
    --primary-foreground: 215 28% 17%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 210 13% 57%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 30%;
    --input: 215 28% 30%;
    --ring: 207 88% 77%;
    --chart-1: 207 80% 56%;
    --chart-2: 173 58% 39%;
    --sidebar-background: 215 28% 22%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 28% 30%;
    --sidebar-ring: 207 88% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
